<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PetSuite">
	<!--<listeners>
		<listener class-name="api_utilities.ExtentReportManager"/>
	</listeners>-->
  <test thread-count="5" name="PetTests">
    <classes>
    <!--  <class name="api_test.DDTests"/> 
      <class name="api_test.userTest"/>-->
      <class name="api_test.userTestWithPropertiesFile"/>
    </classes>
  </test> <!-- PetTests -->
</suite> <!-- PetSuite -->
